<div class="main-height bg-black white">
  <div class="pt3 pb5">
    <div class="w30p mx-auto">
      <p class="js-sidebar-count white bembo mt0 mb2">0 Items in Cart</p>
      <p class="js-cart-error hide mt0 mb2 red border border-red p1 h5"></p>
      <div class="cart-items"></div>
      <div class="flex items-center justify-between mt3 pt1 border-top border-black">
        <span>Subtotal</span>
        <span class="js-cart-total bembo"></span>
      </div>
      <a href="/checkout" class="flex justify-center bg-white py1 px2 mt3 bembo black no-underline">
        Checkout
      </a>
      <div class="flex justify-between mt1 h5">
        <p class="m0 w60p">Shipping only available within the United States.</p>
        <a class="white" href="{{ pages.terms-and-conditions.url }}">T &amp; C</a>
      </div>
    </div>
  </div>
</div>
