<div class="grid pt3 pb8">
  <div class="flex items-center">
    <div class="main-description mx-auto w100p text-center">
      <h5 class="odet-heading">{{ collection.title }}</h5>
      <div class="text-left">
        {{ collection.description }}
      </div>
    </div>
  </div>
  <div class="index-row overflow-hidden pt10">
    {% for product in collection.products %}
      {% include 'collection' %}
    {% endfor %}
  </div>
  <div class="text-center pb6">
    <a class="border border-smoke hover-border-gray py1 px2 bembo black no-underline" href="/pages/essays">
      Read the Essays
    </a>
  </div>
</div>
